<section id="about">
  <h3>About Me</h3>
  <div class="face-lockup">
    <div class="face-img"><img src="/assets/img/me.jpg"/></div>
    <div class="icon" id="tools">{% include icons/tools.html %}</div>
    <div class="icon" id="elec">{% include icons/elec.html %}</div>
    <div class="icon" id="mouse">{% include icons/mouse.html %}</div>
    <div class="icon" id="fedora">{% include icons/fedora.html %}</div>
    <div class="icon" id="windows">{% include icons/windows.html %}</div>
    <div class="icon" id="code">{% include icons/code.html %}</div>
  </div>
  <div class="blurb">
    <p>Patrick specializes in making things <span class="highlight">
      (tailor-made solutions and applications for embedded systems).</span><br>
      Be it a website or a thing contact me. You will get an elegant solution to fit your project needs.</p>
  </div>

  <h3>Skills</h3>
  <div class="skill-lockup">

    <div class="skill-unit">
      <div class="skill-label">Communication</div>
      <div class="skill-icons skill-7">
        <span></span><span></span><span></span><span></span><span></span>
        <span></span><span></span><span></span><span></span><span></span>
      </div>
    </div>
    <div class="skill-unit">
      <div class="skill-label">Teaching</div>
      <div class="skill-icons skill-6">
        <span></span><span></span><span></span><span></span><span></span>
        <span></span><span></span><span></span><span></span><span></span>
      </div>
    </div>
    <div class="skill-unit">
      <div class="skill-label">Organization</div>
      <div class="skill-icons skill-6">
        <span></span><span></span><span></span><span></span><span></span>
        <span></span><span></span><span></span><span></span><span></span>
      </div>
    </div>
    <div class="skill-unit">
      <div class="skill-label">Learning</div>
      <div class="skill-icons skill-10">
        <span></span><span></span><span></span><span></span><span></span>
        <span></span><span></span><span></span><span></span><span></span>
      </div>
    </div>
    <div class="skill-unit">
      <div class="skill-label">Planning</div>
      <div class="skill-icons skill-7">
        <span></span><span></span><span></span><span></span><span></span>
        <span></span><span></span><span></span><span></span><span></span>
      </div>
    </div>
    <div class="skill-unit">
      <div class="skill-label">Designing</div>
      <div class="skill-icons skill-8">
        <span></span><span></span><span></span><span></span><span></span>
        <span></span><span></span><span></span><span></span><span></span>
      </div>
    </div>
  </div>
</section>
