<footer>
  <div class="lockup">
    <div class="logo">{% include icons/logo.html %}</div>
    <div class="content-wrap">
      <nav>
        <a href="#about">About Me</a>
        <!--<a href="">Work</a>-->
        <!--<a href="">Clients</a>-->
        <a href="#contact">Contact</a>
      </nav>
      <p class="copyright">All content copyright 2017</p>
    </div>
    <div class="profiles">
      <a href="https://github.com/coldcoke" target="_blank">{% include icons/github.html %}</a>
      <a href="https://twitter.com/patomuthi" target="_blank">{% include icons/twitter.html %}</a>
      <a href="https://www.linkedin.com/in/patrick-muthiani-448a34b2/" target="_blank">{% include icons/linkedin.html %}</a>
    </div>
  </div>
</footer>
